
#navbar {

  padding-left: 3em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 100), rgb(0, 0, 0, 0));

  font-size: 1.5em;

  ul {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }

  li {
    display: flex;
  }

  li a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
    transition: all ease-in-out 250ms;
    margin: 0.1em;
  }

  li a:hover {
    font-size: 1.2em;
    margin: 0;
  }

  li a::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: all ease-in-out 250ms;
  }

  li a:hover::after {
    width: 100%;
    background: whitesmoke;
  }

  .logo {
    width: 250px;
  }

}

